*:root{
    --ppl: #9747FF;
    --cyan: #aedee0;
    --dsalmaon: #4e3330;
    --black: #000;
    --white: #fff;
    --salmon: #EF9D71;
    --dcyan: #24403d;
    

}
*::selection{
    background-color: var(--ppl);
}
body[theme="black"] {
    background-color: var(--black);
}
body[theme="black"] .section{
    color: var(--white);
}
body[theme="cyan"] {
    background-color: var(--cyan);
}
body[theme="cyan"] .section{
    color: var(--dcyan);
}
body[theme="salmon"] {
    background-color: var(--salmon);
}
body[theme="salmon"] .section{
    color: var(--dsalmaon);
}
body[theme="white"] {
    background-color: var(--white);
}
body[theme="white"] .section{
    color: var(--black);
}

::-webkit-scrollbar {
    width: 10px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  
  }
  ::-webkit-scrollbar:hover {
    width:10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--ppl);
    
    border-radius: 80px; 
  }

.vdio{
    clip-path: circle(var(--golu) at 50% 50%);
}

@keyframes grid-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-60px); /* Move one grid unit to the left */
    }
}

.animate-grid {
    animation: grid-animation 5s linear infinite; /* Adjust duration for desired speed */
}

.gaming{
    display: flex;
}

.container{
    background-color: rgba(255,255,255,.219);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    top: 25%;
    left: -100%;
    max-width: 42rem;
    height: 40vh;
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    margin-left: 2rem;
    display: flex;
}

body .container .blob {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 70%;
    /* z-index: 50; */
    height: 60vh;
    width: 40vw;

    filter: url(#goo);
}

@keyframes rotate{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(-20px,-30px) rotate(10deg);
    }
    75%{
        transform: translate(30px,50px) rotate(-20deg);
    }
    100%{
        transform: translateY(-10px,20px);
    }
}

.name{
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
}

.navbar li a{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.5rem;
}

body .container .blob .glob {
    position: absolute;
    width: 60%;
    height: 75%;
    background: rgb(166, 20, 202);
    z-index: -50;
    /* background-color:rgba(255,255,255,.219); */
    backdrop-filter: blur(5px);
    border-radius: 100%;
    top: -25%;
    right: -25%;
    animation: rotate 2s infinite ease-in-out;
}

body .container .blob:before, body .container .blob:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 60%;
    background: rgb(166, 20, 202);
    border-radius: 100%;
    right: 0;
    z-index: -60;
    top: 20px;
    animation: rotate 5s infinite ease;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  body .container .blob:after {
    right: -15%;
    top: 20%;
    width: 40%;
    height: 60%;
  }/*# sourceMappingURL=style.css.map */
  
  body svg {
    position: absolute;
    width: 0;
    height: 0;
  }

.dino{
    width: 15rem;
    z-index: 50;
    margin-left: 50px;
    margin-top: 40px;
}

.text-new{
    display: flex;
    /* border: 2px solid salmon; */
    margin-left: -30%;
}

.Genesis{
    color: yellow;
    margin-left: 15px;
}

.text-color{
    color: rgb(216, 58, 255);
}

.heading{
    width: 30vw;
    font-family: 'Goldman',sans-serif;
}

nav{
    right: 0px;
    position: absolute;
    display: flex;
    /* background: rgb(46, 47, 68); */
    background: transparent;
    width: 100%;
}

.logo{
    /* background: rgb(46, 47, 68); */
    background: transparent;
}

.logo img{
    width: 12vw;
    height: 10vh;
    margin-top: 5%;
    margin-right: -5vw;
    /* background: black; */
    /* background: rgb(46, 47, 68); */
    margin-left: 5vw;
    /* transform: rotate(-5deg); */
    /* border: 2px solid salmon; */
}

.navbar{
    display: flex;
    margin-top: 1vh;
    width: 75vw;
    height: 10vh;
    font-size: 20px;
    align-items: center;
    /* border: 2px solid salmon; */
    margin-right: -10vw;
    margin-left: 10vw;
    justify-content: space-evenly;
}

@-webkit-keyframes active {
    from {
      box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 10px 0px rgba(0, 0, 250, 0.6);
    }
    to {
      box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
    }
  }
  @keyframes active {
    from {
      box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 10px 0px rgba(0, 0, 250, 0.6);
    }
    to {
      box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
    }
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
}

.Register-btn{
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-left: 10vw;
    margin-bottom: 20vh;
    justify-content: center;
    grid-gap: 40px 25px;
    cursor: pointer;
    width: 30vw;
    height: 10vh;
    background-image: linear-gradient(to top, #810a85 0%, #a42ec2 80%, #dc68f3 100%);
    border-radius: 30px;
    border: 1px solid #4b0c53;
    box-shadow: 0 4px 3px 1px #490a49, 0 6px 8px #68135a, 0 -4px 4px #5e0c5e, 0 -6px 4px #791e71, inset 0 0 3px 0 #7e137e;
    transition: all 0.2s ease;
    font-family: "Goldman", sans-serif;
    font-size: 5vh;
    font-weight: 600;
    color: white;
    text-shadow: 0 1px #666666;  
    text-align:center;
    animation: active 2s infinite ease-out,transform .6s ease;
}

.Register-btn:hover{
    transform: scale(0.98);
}

.Register-btn:active{
    transform: scale(0.95);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Popup */
.popup{
    background-color: #ffffff;
    width: 25rem;
    padding: 2rem 4rem;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}

.popup button{
    display: block;
    margin:  -0.5rem -2rem 2rem auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup h2{
    display: flex;
    font-size: 2rem;
    top: 10%;
    position: absolute;
}

.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

.popup a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
    border-radius: 5px;
    transition: transform 0.5s;
}

.popup a:active{
    transform: scale(0.96);
}

.pulse{
    height: 2rem;
    width: 2rem;
    margin-top:0.5rem;
}

@media(max-width:1000px){
    .navbar{
        display: none;
    }
    .logo img{
        width: 20vw;
    }
}

@media(max-width:650px){
    .logo img{
        width: 30vw;
    }
}