*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background: black;
}

::-webkit-scrollbar {
    width: 10px;
  
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
  
}
::-webkit-scrollbar:hover {
    width:10px;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(238, 238, 238);
    
    border-radius: 80px; 
}

nav{
    right: 0px;
    position: absolute;
    display: flex;
    /* background: rgb(46, 47, 68); */
    /* border: 2px solid saddlebrown; */
    background: transparent;
    width: 100%;
}

.navbar li a{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1.5rem;
}

.navbar li a:hover{
    color: rgb(190, 190, 190);
}

.logo{
    /* background: rgb(46, 47, 68); */
    background: transparent;
}

.logo img{
    width: 12vw;
    height: 10vh;
    margin-top: 5%;
    margin-right: -5vw;
    /* background: black; */
    /* background: rgb(46, 47, 68); */
    margin-left: 5vw;
    /* transform: rotate(-5deg); */
    /* border: 2px solid salmon; */
}

.navbar{
    display: flex;
    margin-top: 1vh;
    width: 75vw;
    height: 10vh;
    font-size: 20px;
    align-items: center;
    /* border: 2px solid salmon; */
    margin-right: -10vw;
    margin-left: 10vw;
    justify-content: space-evenly;
}

.title{
    color: white;
    position: absolute;
    top: 15%;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-family: 'Goldman',sans-serif;
}

.container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width:100% ;
    top: 30%;
    left: 0;
    padding: 2rem 2rem;
    gap: 2vw;
    justify-content: center;
    align-items: center;

}

.card{
    height: 50vh;
    width: 20vw;
    position: relative;
    background: rgb(32, 32, 32);
    box-shadow: rgba(224, 224, 224, 0.322) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.image{
    width: 60%;
    position: absolute;
    left: 18%;
    top: 5%;
}

.card .image img{
    height: 27vh;
    width: 18vw;
    border-radius:35% 65% 50% 50% / 56% 39% 61% 44%  ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.5s ease;
}

.card-content h3{
    color: white;
    position: absolute;
    bottom: 28%;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    transition: all 0.5s ease;
}

.card-content .icons{
    position: absolute;
    bottom: 10%;
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    /* border: 2px solid salmon; */
    color: white;
    transform: translateY(200%);
    opacity: 0;
    transition: all 0.5s ease ;
}

.card:hover .icons{
    transform: translateY(0);
    opacity: 1;
}

.icons i{
    margin-right: 0.5vw;
}

.wavy i{
    position: relative;
    display: inline-block;
}

.card:hover i{
    animation: animate 1s ease-in-out ;
    animation-delay: calc(0.1s * var(--i));
}
.card:hover .image img{
    transform: translateY(-5%);
}

.card:hover .card-content h3{
    transform: translateY(-20%);
}

@keyframes animate{
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-3vh);
    }
    40%,100%{
        transform: translateY(0);
    }
}

@media(max-width:1000px){
    .navbar{
        display: none;
    }
}

@media(max-width:1024px){
    .container{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media(max-width:375px){
    .container{
        display: grid;
        grid-template-columns: auto;
    }
    .card{
        width: 50vw;
    }
    .card .image img{
        width: 32vw;
    }
    .logo img{
        width: 30vw;
    }
}

@media(max-width:320px){
    .card{
        width: 60vw;
    }
    .card .image img{
        width: 40vw;
    }
    .logo img{
        width: 35vw;
    }
}

@media(max-width:425px){
    .logo img{
        width: 30vw;
    }
    .container{
        display: grid;
        place-items: center;
    }
    .card{
        width: 50vw;
    }
    .card .image img{
        width: 30vw;
    }
}

@media(max-width:768px){
    .container{
        display: grid;
        place-items: center;
        gap: 2rem;
    }
    .card{
        min-width: 28vw;
    }
}

@media(max-width:1024px){
    .container{
        gap: 2rem;
        display: flex;
        flex-wrap: wrap;
    }
    .card .image img{
        min-width: 13vw;
    }
}